.content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.article {
    margin-bottom: 15px;
}

.likeButton {
    cursor: pointer;
}

.seeComments {
    cursor: pointer;
    margin-bottom: 15px;
}

.commentsLi{
    list-style-type: none;
    margin-bottom: 10px;
}

.commentsUl{
    margin-inline-start: 0;
    padding-inline-start: 0;
    padding: 10px;
}